FLASK_SECRET_KEY=change_me_in_production
AD_SERVER_FQDN=dc.yourdomain.local
AD_DOMAIN_USER=Administrator@YOURDOMAIN.LOCAL
AD_PASSWORD=YourAdminSecurePassword
AD_DOMAIN_SUFFIX=yourdomain.local
AUTH_METHOD=kerberos
